*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wave{
  position: absolute;
  bottom: 0;
  left: 0;
  
}

.App{
  font-family: 'Open Sans', sans-serif;
  direction: rtl;
  height: 100vh;
  background-color:rgb(255, 255, 255);
  
}

.navbar{
  width: 100%;
  height:20vh;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.navbar-top-inner{
  background-color:white;
  position: relative;
  display: flex;
  justify-content:center;
  align-items:center;
  
  z-index: 100;

}
.navbar-top-inner h2{
  font-size:clamp(15px, 8vw, 25px);
}

.sub-navbar-title{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}



.title{
  
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 40px 10px;
  background-color:transparent
}

.title h2{
  background:linear-gradient(90deg, rgb(253, 236, 238) 5%, rgb(253, 242, 243) 12%, rgba(255,255,255,1) 65%, rgb(253, 236, 238) 95%);;
  border-radius:12%;
  box-shadow: 2px 2px 10px rgba(177, 176, 176, 0.208);
  font-weight:400;
  font-size:clamp(25px , 4.5vw, 40px);
  
  padding:20px
}

.BA-pic{
  background-color:white;
  position: relative;
  /* border-bottom-left-radius: 550px;
  border-bottom-right-radius: 30px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* flex-wrap: wrap; */
  /* box-shadow: 2px 15px 10px rgba(172, 172, 172, 0.116); */
  padding-bottom: 100px;
   /* background:linear-gradient(250deg, rgb(252, 242, 244) 2%, rgb(252, 244, 244) 5%, rgba(255,255,255,1) 70%, rgb(250, 244, 244) 99%);; */
  padding-top:40px;
}




.BA-pic img {
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(112, 111, 111, 0.192);
  width:280px;
  height:80%;
  
}

#imgBefore:hover{
  transform: scale(1.45)  ;
  transition: 0.2s;
  
}
#imgAfter:hover{
  transform: scale(1.45)  ;
  transition: 0.2s;

}


.BA-pic-box{
  box-shadow: 2px 2px 10px rgba(148, 148, 148, 0.164);
  padding: 5px 8px;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
  background-color:white;
  z-index: 100;
  background:linear-gradient(90deg, rgb(253, 236, 238) 5%, rgb(253, 242, 243) 12%, rgba(255,255,255,1) 65%, rgb(253, 236, 238) 95%);;
}

.desc{
  background-color:rgb(255, 207, 214);
  text-align: center;
  flex:1;
  color: rgb(73, 73, 73);
  padding:50px;
  font-size:clamp(15px , 4.5vw, 29px);
  text-shadow: 2px 2px #ffffff7c;
  z-index: 99;
}

.desc h2{
 
  background:linear-gradient(90deg, rgb(253, 236, 238) 5%, rgb(253, 242, 243) 12%, rgba(255,255,255,1) 65%, rgb(253, 236, 238) 95%);;
  border-radius:5px;
  box-shadow: 2px 2px 10px rgba(255,241,243,1);
  font-weight:400;
  font-size:clamp(25px , 4.5vw, 40px);

  padding:20px
}

.contact{
  z-index: 99;
  display: flex;
  flex-direction: row;
  padding: 50px;
  background-color:rgb(255, 207, 214);
}



.inner-contact{
  display: flex;
  flex-direction: column;
  flex:1;
  width: 100%;
  background:linear-gradient(250deg, rgb(252, 242, 244) 2%, rgb(252, 244, 244) 5%, rgba(255,255,255,1) 70%, rgb(250, 244, 244) 99%);;

  box-shadow: rgba(150, 150, 189, 0.158) 0px 4px 10px 2px, rgba(168, 167, 167, 0.185) 0px 3px 7px 1px;;
  padding:0px;
}

.contact-background{
  flex: 1;
  /* background-color: #f8c9dc; */
  display: flex;
  justify-content: center;
  /* border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  border-radius: 25px; */
  
}

.contact-details{
  flex: 1;
  padding: 5px;
  color:white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  
  
  
  
  background-color: rgb(196, 140, 140);
  /* border-color:#f8c9dc transparent #f8c9dc #f8c9dc; */
  /* border-bottom-left-radius: 25px;
  border-top-left-radius: 25px; */
  
}

.contact-details form{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns:1fr ;
  
  justify-content: space-around;
  padding:10px;
  
}

.contact-details input{
  border-radius: 10px;
  border:none;
  font-size:17px;
  font-weight: bold;
  padding: 10px 10px;
  
}

.contact-details h3 {
  padding: 10px;
}

.submit-button{
  background-color:rgb(248, 96, 96);
  padding:12px 40px;
  border-radius:10px;
  border:none;
  box-shadow:5px 5px 10px rgba(198, 198, 198, 0.204);
  color:white;
  font-weight:bold;
  font-size: 20px;
  cursor: pointer;
  text-align:center;
  margin-top: 8px;
  width: 100%;
}

.contact-options{
  display:flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color:rgb(32, 32, 32);
  position:sticky;
  bottom: 0;
  z-index: 100;
}

.contact-option a{
  color:pink;
  /* border:1px solid ; */
  border-radius: 5px;
  height:50px;
  width:50px;
  display:flex;
  justify-content:center;
  align-items: center;
  cursor: pointer;
}

.contact-option a:hover{
   border:2px solid pink;
   background-color:white;
   color:green;
   padding:10px;
   transition: 0.6s
   
}

#contact-facebook :hover{
  color:blue;
}

.sitelink{
  background-color:white;
  height:2vh
}



@media  screen and (max-width:1140px){

  .contact-details{
    flex-direction: column
  }
  .contact-details form{
    width: 100%;
  }

  
}
@media  screen and (max-width:900px){

  .contact-details{
    flex-direction: column
  }
  .contact-details form{
    width: 100%;
  }
  .contact{
    flex-direction: column
  }
}

@media screen and (max-width:700px){
  .wave{
    height: 30vh
  }
  .BA-pic{
    overflow: hidden
  }
  .contact-details form{
    width: 100%;
  }
  .contact-details input{
    width: 100%;
  }
  .desc{
    padding:5px 5px 80px 5px;
    margin: 0;
    
  }
  .desc h2{
    width: 100%;
    margin:0
  
  
  }
  .BA-pic{
    padding-bottom: 30px;
  }
  .BA-pic img{
    
    width: 99%;
  }
}
@media screen and (max-height:720px){
  .navbar{
    padding-top: 8vh;
    flex-direction:column
  }
  
}
@media screen and (max-height:420px){
  .navbar{
    height:45vh;
    flex-direction:column
  }
  
}